---
pagination:
    data: collections.pattern
    size: 1
    alias: pattern
permalink: '/svg/pattern/{{pattern.data.id}}.svg'
---
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ pattern.data.size }}" height="{{ pattern.data.size }}" viewBox="0 0 {{ pattern.data.size }} {{ pattern.data.size }}" xml:space="preserve">
    <defs>
        {{ pattern.templateContent | safe }}
    </defs>
    <rect x="0" y="0" width="{{ pattern.data.size }}" height="{{ pattern.data.size }}" fill="url(#pattern-{{ pattern.data.id }})" />
</svg>