@use '../tools/' as *;

.logo {
    $p: &;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-block: clamp(var(--base-spacing), 10vh, var(--base-spacing) * 3);
    line-height: 1;

    &__headline {
        font-weight: 775;
        margin-block-end: max(.3em, 10px);
        font-size: clamp(2em, 3.5vmax, 4em);
        color: var(--color-primary);
        text-decoration: none;
        text-align: center;
        max-width: 19ch;
        align-self: center;
        white-space: pre;

        > a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    &__subheadline {
        font-size: 1em;
        font-weight: 475;

        @include widerThan(layout) {
            font-size: 1.5em;
        }
    }

    &__menu-button {
        display: none;
    }

    &__menu {
        font-size: .875em;
        margin-block-start: 2em;
        font-weight: 675;
        display: block;
    }

    &.compact {
        @include narrowerThan(layout) {
            @media (orientation: portrait) {
                margin-block: 0;
                display: grid;
                grid-template-columns: 1fr auto;
                column-gap: 1em;
                text-align: left;
                align-items: center;

                #{$p} {
                    &__headline {
                        text-align: inherit;
                        font-size: 1.5em;
                    }

                    &__subheadline {
                        font-size: .85em;
                        grid-row: 2;
                        line-height: 1.25;
                    }

                    &__menu-button {
                        display: inline-flex !important;

                        @include widerThan(pattern) {
                            display: none;
                        }
                    }
                    
                    &__menu {
                        grid-column: 2 / -1;;
                        grid-row: 1 / 2;
                        margin: 0;
                        justify-content: flex-end;
                        
                        &[hidden] {
                            display: none;
                        }
                        
                        @include widerThan(pattern) {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}