---
layout: base
---
{% from 'partials/pattern-list.macro.njk' import patternList %}
{% if content %}
    <main class="site__content" id="content" data-site-content>
        {{ content | safe }}
    </main>
    <nav class="site__patterns" id="patterns" data-site-patterns>
        {{ patternList({ patterns: collections.orderedPatterns, url: page.url }) }}
    </nav>
{% else %}
    <main class="site__patterns" id="content" data-site-content>
        {{ patternList({ patterns: collections.orderedPatterns, url: page.url }) }}
    </main>
{% endif %}
<script>
    const copyCodeButton = document.querySelector('[data-copy-pattern-code]');
    const code = document.querySelector('[data-pattern-code]');
    const browseButton = document.querySelector('[data-close-pattern-details]');
    const siteContent = document.querySelector('[data-site-content]');
    const sitePatterns = document.querySelector('[data-site-patterns]');

    copyCodeButton.addEventListener('click', () => {
        const range = document.createRange();
        const selection = window.getSelection();
        
        range.selectNodeContents(code);

        try {
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand('copy');

            const original = button.textContent;
            copyCodeButton.textContent = 'copied!';
            
            setTimeout( () => {
                copyCodeButton.textContent = original;
            }, 1200);
        } catch {
        }
    });

    browseButton.addEventListener('click', () => {
        if ( document.body.classList.contains('is--showing-pattern-details') ) {
            document.body.classList.remove('is--showing-pattern-details');
            document.body.classList.add('is--showing-patterns-navigation');

            document.body.addEventListener('transitionend', function hideDetails(e) {
                e.stopPropagation();
                siteContent.classList.add('sr-only');
                siteContent.setAttribute('style', 'padding: 0; flex-basis: 0');
                siteContent.setAttribute('aria-hidden', true);
                sitePatterns.setAttribute('style', 'display: block');
                sitePatterns.querySelector('a:first-of-type').focus();
                document.body.removeEventListener('transitionend', hideDetails);
            });
        }
    });
</script>