---
layout: base
---
{% from 'partials/pattern-list.macro.njk' import patternList %}
{% if content %}
    <main class="site__content" id="content" data-site-content>
        {{ content | safe }}
    </main>
    <nav class="site__patterns" id="patterns" data-site-patterns>
        {{ patternList({ patterns: collections.orderedPatterns, url: page.url }) }}
    </nav>
{% else %}
    <main class="site__patterns" id="content" data-site-content>
        {{ patternList({ patterns: collections.orderedPatterns, url: page.url }) }}
    </main>
{% endif %}