---
layout: page
permalink: 'legal/index.html'
templateEngineOverride: njk,md
---

# Imprint

Made by Thomas Michael Semmler. You can find me on [twitter](https://twitter.com/nachtfunke) and on my [personal website](https://helloyes.dev). If you would like to contribute to this project or if you have found some form of error, please do so via [github]({{ navigation.github.url }})!

## Data Protection

This website does not track you. No cookies are being set or read.

## Accessibility

This website aims to be as accessible as possible. But Sometimes errors occur - be aware that these errors are not a result of ignorance or bad intent. Please let me know if you encounter an issue that makes this website not as accessible as it could be via [github]({{ navigation.github.url }}).

## Browser Compatibility

This website is not trying to be as backwards compatible as possible. _But_, if you are using an older browser and you are encountering some issues, visual or functionally, please let me know via [github]({{ navigation.github.url }}) so I am aware that there is an audience that require some inclusion of older browsers. Because there is no analytics on this website whatsoever, directly communicated feedback is the only sensory information I can get about this topic.