---
id: 1
categories: ['lines', 'directional']
source:
  person: "Ingo Kegel"
  cite: "https://stackoverflow.com/questions/13069446/simple-fill-pattern-in-svg-diagonal-hatching/14500054#14500054"
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>