---
id: 10
categories: ['lines', 'mesh']
size: 4
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M2,0 l0,4 M0,2 l4,0" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>