---
id: 11
categories: ['lines', 'mesh']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="6" height="6">
    <path d="M3,0 l0,6
             M0,3 l6,0" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>