---
id: 14
categories: ['lines', 'waves']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="6" height="6">
    <path d="M-1,5 l2,2 M5,7 l2,-2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <polyline points="0,0 3,3 6,0" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>