---
id: 16
categories: ['lines', 'waves', 'horizontal']
size: 12
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M-1,11 l2,2 M11,13 l2,-2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <polyline points="0,0 6,6 12,0" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>