---
id: 18
categories: ['circles', 'centered']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="12" height="12">
    <circle cx="6" cy="6" r="3" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>