---
id: 2
categories: ['lines', 'directional']
size: 4
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M0,0 l4,4
             M-1,3 l2,2
             M3,-1 l2,2" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>