---
id: 20
categories: ['circles', 'off-centered']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="12" height="12">
    <circle cx="0" cy="6" r="2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="12" cy="6" r="2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="6" cy="0" r="2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="6" cy="12" r="2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>