---
id: 21
categories: ['circles', 'off-centered']
size: 16
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <circle cx="0" cy="8" r="3" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="16" cy="8" r="3" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="8" cy="0" r="3" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="8" cy="16" r="3" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>