---
id: 22
categories: ['circles', 'off-centered']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="24" height="24">
    <circle cx="0" cy="12" r="4" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="24" cy="12" r="4" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="12" cy="0" r="4" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <circle cx="12" cy="24" r="4" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>