---
id: 24
categories: ['points', 'centered']
size: 6
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <rect width="2" height="2" x="0" y="0" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>