---
id: 28
categories: ['points', 'off-centered']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="8" height="8">
    <path d="M3,3 l2,0 l0,2 l-2,0 l0,-2 M0,0 l1,0 l0,1 l-1,0 l0,-1 M7,0 l1,0 l0,1 l-1,0 l0,-1 M0,7 l1,0 l0,1 l-1,0 l0,-1 M7,7 l1,0 l0,1 l-1,0 l0,-1" fill="hotpink" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>