---
id: 29
categories: ['points', 'off-centered']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="12" height="12">
    <path d="M5,5 l2,0 l0,2 l-2,0 l0,-2 M0,0 l1,0 l0,1 l-1,0 l0,-1 M11,0 l1,0 l0,1 l-1,0 l0,-1 M0,11 l1,0 l0,1 l-1,0 l0,-1 M11,11 l1,0 l0,1 l-1,0 l0,-1" fill="hotpink" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>