---
id: 3
categories: ['lines', 'directional']
size: 8
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M-1,1 l4,-4 M0,8 l8,-8 M6,10 l4,-4" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>