---
id: 34
categories: ['dots']
size: 12
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <circle cx="6" cy="6" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>