---
id: 35
categories: ['dots']
size: 6
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <circle cx="0" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="0" cy="6" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="6" cy="6" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="6" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="3" cy="3" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>