---
id: 36
categories: ['dots']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="8" height="8">
    <circle cx="0" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="0" cy="8" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="8" cy="8" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="8" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="4" cy="4" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>