---
id: 37
categories: ['dots']
size: 12
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <circle cx="0" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="0" cy="12" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="12" cy="12" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="12" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="6" cy="6" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>