---
id: 38
categories: ['dots']
size: 16
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <circle cx="0" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="0" cy="16" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="16" cy="16" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="16" cy="0" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
    <circle cx="8" cy="8" r="1" fill="currentcolor" style="fill: var(--pattern-channel-1, currentcolor)" />
</pattern>