---
id: 39
categories: ['lines', 'waves', 'vertical']
size: 6
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M5,-1 l2,2 M5,7 l2,-2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <polyline points="0,0 3,3 0,6" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>