---
id: 4
categories: ['lines', 'directional']
size: 8
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M0,0 l8,8
             M-1,7 l4,4
             M7,-1 l4,4" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>