---
id: 40
categories: ['lines', 'waves', 'vertical']
size: 8
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M7,-1 l2,2 M7,9 l2,-2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <polyline points="0,0 4,4 0,8" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>