---
id: 41
categories: ['lines', 'waves', 'vertical']
size: 12
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M11,-1 l2,2 M11,13 l2,-2" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
    <polyline points="0,0 6,6 0,12" style="stroke: var(--pattern-channel-1, currentcolor)" fill="none" />
</pattern>