---
id: 5
categories: ['lines', 'directional']
size: 6
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M-1,1 l2,-2 M0,6 l6,-6 M5,7 l2,-2" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>