---
id: 6
categories: ['lines', 'directional']
size: 6
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M7,1 l-2,-2 M0,0 l6,6 M1,7 l-2,-2" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>