---
id: 7
categories: ['lines', 'mesh']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="6" height="6">
    <path d="M0,0 l6,6
             M6,0 l-6,6" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>