---
id: 8
categories: ['lines', 'mesh']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="8" height="8">
    <path d="M0,0 l8,8
             M8,0 l-8,8" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>