---
id: 8
categories: ['lines', 'mesh']
size: 8
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="{{ size }}" height="{{ size }}">
    <path d="M0,0 l8,8
             M8,0 l-8,8" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>