---
id: 9
categories: ['lines', 'mesh']
---
<pattern id="pattern-{{ id }}" patternUnits="userSpaceOnUse" width="12" height="12">
    <path d="M0,0 l12,12
             M12,0 l-12,12" stroke="currentcolor" style="stroke: var(--pattern-channel-1, currentcolor)" />
</pattern>